# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Paste on pastery'
      'command': 'pastery:paste'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Pastery'
      'submenu': [
        {
          'label': 'Post paste'
          'command': 'pastery:paste'
        }
      ]
    ]
  }
]
